* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* z-index: 999; 
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s, visibility 0.3s;  */
}
.card {
  max-width: 25rem;
  position: relative;
}
.container {
  padding: 0 6rem;
  background-color: hsl(13, 31%, 94%);
  display: flex;
  gap: 2rem;
}
.add {
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70%;
  bottom: 5rem;
  left: 2rem;
  cursor: pointer;
}
.add:hover {
  background-color: hsl(14, 86%, 42%);
  color: white;
  transition: all 0.2s ease;
  .add1 {
    display: none;
  }
  .add2 {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .cart-tray img {
    display: none;
  }
}
.icons {
  border: solid 1px white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#decrement,
#increment {
  fill: white;
}

.icons:hover {
  border: none;
  background-color: white;
  #decrement,
  #increment {
    fill: red;
    font-size: 1.5rem;
  }
}

.image img {
  border-radius: 1rem;
  max-width: 100%;
}
.cart-description {
  margin-top: 3rem;
}
.deserts {
  width: 73%;
}
.red {
  color: red;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
}
/* cart */

.cart {
  background-color: white;
  padding: 1rem 1rem;
  width: 30%;
  height: fit-content;
}

.myorder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details {
  display: flex;
  gap: 1rem;
}
.delete-icon img {
  border: solid 1px gray;
  padding: 0.2rem;
  border-radius: 1rem;
  font-size: 1rem;
}
.delete-icon img:hover {
  cursor: pointer;
  border: solid 2px black;
}
.myorder {
  margin: 1rem;
  border-bottom: solid 6px rgba(196, 190, 190, 0.311);
}
.submit button,
#submit1 {
  background-color: hsl(14, 86%, 42%);
  border: none;
  color: white;
  width: 90%;
  border-radius: 4rem;
  padding: 1.2rem;
  margin: 1rem;
  cursor: pointer;
}
.total-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
.delivery {
  padding: 1rem;
  background-color: hsl(13, 31%, 94%);
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
.add1 {
  display: flex;
  gap: 0.5rem;
}
.add2 {
  display: none;
}
.order-made {
  display: none;
}
.dollar-wrap {
  display: flex;
  gap: 0;
}
my-span {
  color: red;
}
.no-order {
  display: block;
}

/* alert */
.alert {
  width: 25rem;
  height: auto;
  position: fixed;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 10px 20px 23px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  display: none;
  top: 5rem;
  left: 32rem;
  background-color: white;
}
.all-orders {
  background-color: hsl(13, 31%, 94%);
  border-radius: 1rem;
}
.order-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.flex-left {
  display: flex;
  gap: 0.5rem;
}
.flex-left img {
  width: 25%;
  height: 25%;
  border-radius: 0.5rem;
}
.quantityPrice {
  display: flex;
  gap: 1rem;
}
#submit1 {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  width: 2.5rem;
}
#order-confirmed,
#order-para {
  margin-bottom: 0.5rem;
}
